{
    "presets": [
        [
            "env",
            {
                "targets": {
                    "browsers": "1 version"
                },
                "loose": true,
                "modules": false
            }
        ],
        "react"
    ]
}